## Connecting to the API / Server

In [1]:
#importing libraries
import pandas as pd
import fxcmpy

In [2]:
# to start a connection between fxcm and jupyter Notebook
api = fxcmpy.fxcmpy(config_file= "fxcm.cfg")

In [3]:
# account details.
api.get_accounts()

,t,ratePrecision,accountId,balance,usdMr,mc,mcDate,accountName,usdMr3,hedging,usableMargin3,usableMarginPerc,usableMargin3Perc,equity,usableMargin,bus,dayPL,grossPL
0,6,0,1682745,19075.22,0,N,,1001682745,0,Y,19075.22,100,100,19075.22,19075.22,1000,-76,0

In [4]:
#account details.
api.get_account_ids()

[1682745]

In [5]:
#instruments fxcm provides for trading
api.get_instruments()

['EUR/USD',
 'USD/JPY',
 'GBP/USD',
 'USD/CHF',
 'EUR/CHF',
 'AUD/USD',
 'USD/CAD',
 'NZD/USD',
 'EUR/GBP',
 'EUR/JPY',
 'GBP/JPY',
 'CHF/JPY',
 'GBP/CHF',
 'EUR/AUD',
 'EUR/CAD',
 'AUD/CAD',
 'AUD/JPY',
 'CAD/JPY',
 'NZD/JPY',
 'GBP/CAD',
 'GBP/NZD',
 'GBP/AUD',
 'AUD/NZD',
 'USD/SEK',
 'EUR/SEK',
 'EUR/NOK',
 'USD/NOK',
 'USD/MXN',
 'AUD/CHF',
 'EUR/NZD',
 'USD/ZAR',
 'USD/HKD',
 'ZAR/JPY',
 'USD/TRY',
 'EUR/TRY',
 'NZD/CHF',
 'CAD/CHF',
 'NZD/CAD',
 'USD/HUF',
 'TRY/JPY',
 'USD/CNH',
 'AUS200',
 'ESP35',
 'FRA40',
 'GER30',
 'HKG33',
 'JPN225',
 'NAS100',
 'SPX500',
 'UK100',
 'US30',
 'Copper',
 'CHN50',
 'EUSTX50',
 'VOLX',
 'USDOLLAR',
 'US2000',
 'INDIA50',
 'USOil',
 'UKOil',
 'SOYF',
 'NGAS',
 'USOilSpot',
 'UKOilSpot',
 'WHEATF',
 'CORNF',
 'Bund',
 'XAU/USD',
 'XAG/USD',
 'EMBasket',
 'JPYBasket',
 'BTC/USD',
 'BCH/USD',
 'ETH/USD',
 'LTC/USD',
 'CryptoMajor',
 'EOS/USD',
 'XLM/USD',
 'ESPORTS',
 'BIOTECH',
 'CANNABIS',
 'FAANG',
 'CHN.TECH',
 'CHN.ECOMM',
 'USEquities',
 'AIRLINES',
 'CASINOS',
 'TRAVEL',
 'US.ECOMM',
 'US.BANKS',
 'US.AUTO',
 'WFH',
 'ATMX',
 'BA.us',
 'BAC.us',
 'BRKB.us',
 'C.us',
 'CRM.us',
 'DIS.us',
 'F.us',
 'JPM.us',
 'KO.us',
 'MA.us',
 'MCD.us',
 'PFE.us',
 'PG.us',
 'SE.us',
 'T.us',
 '',
 'V.us',
 'XOM.us',
 'AAPL.us',
 'AMZN.us',
 'BIDU.us',
 'FB.us',
 'GOOG.us',
 'INTC.us',
 'MSFT.us',
 'SBUX.us',
 '',
 'AI.fr',
 'ALO.fr',
 'BN.fr',
 'BNP.fr',
 'CA.fr',
 'DG.fr',
 'AIR.fr',
 'ORA.fr',
 'GLE.fr',
 'MC.fr',
 'ML.fr',
 'OR.fr',
 'RNO.fr',
 'SAN.fr',
 'SGO.fr',
 'SU.fr',
 'VIE.fr',
 '',
 'ADS.de',
 'ALV.de',
 'BAS.de',
 'BAYN.de',
 'BMW.de',
 '',
 'DAI.de',
 'DB1.de',
 'DBK.de',
 'DPW.de',
 'DTE.de',
 'EOAN.de',
 'IFX.de',
 'LHA.de',
 'MRK.de',
 'RWE.de',
 'SAP.de',
 'SIE.de',
 'TUI1.de',
 'VOW.de',
 '',
 'AZN.uk',
 '',
 'BARC.uk',
 'BATS.uk',
 'BP.uk',
 'GSK.uk',
 'HSBA.uk',
 '',
 '',
 '',
 '',
 '',
 '',
 'TSCO.uk',
 '',
 'BABA.us',
 'DAL.us',
 'NFLX.us',
 'TSLA.us',
 'GLEN.uk',
 'RDSB.uk',
 'TTE.fr',
 'ENGI.fr',
 'VNA.de',
 'SQ.us',
 'LYFT.us',
 'UAL.us',
 'DKNG.us',
 'SHOP.us',
 'BYND.us',
 'UBER.us',
 'ZM.us',
 'LCID.us',
 'HOOD.us',
 'CRWD.us',
 'BOWX.us',
 'BEKE.us',
 'CPNG.us',
 'NET.us',
 'RBLX.us',
 'ENR.de',
 'BIDU.hk',
 'COIN.us',
 'CSL.au',
 'CBA.au',
 'BHP.au',
 'WBC.au',
 'NAB.au',
 'ANZ.au',
 'WOW.au',
 'WES.au',
 'FMG.au',
 'MQG.au',
 'TLS.au',
 'RIO.au',
 'GMG.au',
 'WPL.au',
 'NCM.au',
 'COL.au',
 'ALL.au',
 'SYD.au',
 'A2M.au',
 'REA.au',
 'XRO.au',
 'APT.au',
 'CWN.au',
 'QAN.au',
 'Z1P.au',
 '',
 '',
 '',
 '',
 '',
 '',
 'CBK.de',
 'DHER.de',
 'STM.fr',
 'STLA.fr',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'JD.us',
 'PDD.us',
 'TME.us',
 'WB.us',
 'BILI.us',
 'NVDA.us',
 'AMD.us',
 'DADA.us',
 'PTON.us',
 'TENC.hk',
 'MEIT.hk',
 'BYDC.hk',
 'XIAO.hk',
 'BABA.hk',
 'AIA.hk',
 'HSBC.hk',
 'WUXI.hk',
 'HKEX.hk',
 'GELY.hk',
 'JD.hk',
 'NETE.hk',
 'PING.hk',
 'SMIC.hk',
 'SBIO.hk',
 'GALA.hk',
 'KIDE.hk',
 'ALIH.hk',
 'ICBC.hk',
 'FLAT.hk',
 'KSOF.hk',
 'SMOO.hk',
 'SUNN.hk',
 'BYDE.hk',
 'TWTR.us',
 'MRNA.us',
 'NIO.us',
 'CCL.us',
 'ABNB.us',
 'DASH.us',
 'AMC.us',
 'BNGO.us',
 'FCEL.us',
 'GME.us',
 'PENN.us',
 'PLTR.us',
 'PLUG.us',
 'PYPL.us',
 'SNAP.us',
 'SNOW.us',
 'SPCE.us',
 'XPEV.us',
 '']

In [6]:
instr = api.get_instruments()
instr

['EUR/USD',
 'USD/JPY',
 'GBP/USD',
 'USD/CHF',
 'EUR/CHF',
 'AUD/USD',
 'USD/CAD',
 'NZD/USD',
 'EUR/GBP',
 'EUR/JPY',
 'GBP/JPY',
 'CHF/JPY',
 'GBP/CHF',
 'EUR/AUD',
 'EUR/CAD',
 'AUD/CAD',
 'AUD/JPY',
 'CAD/JPY',
 'NZD/JPY',
 'GBP/CAD',
 'GBP/NZD',
 'GBP/AUD',
 'AUD/NZD',
 'USD/SEK',
 'EUR/SEK',
 'EUR/NOK',
 'USD/NOK',
 'USD/MXN',
 'AUD/CHF',
 'EUR/NZD',
 'USD/ZAR',
 'USD/HKD',
 'ZAR/JPY',
 'USD/TRY',
 'EUR/TRY',
 'NZD/CHF',
 'CAD/CHF',
 'NZD/CAD',
 'USD/HUF',
 'TRY/JPY',
 'USD/CNH',
 'AUS200',
 'ESP35',
 'FRA40',
 'GER30',
 'HKG33',
 'JPN225',
 'NAS100',
 'SPX500',
 'UK100',
 'US30',
 'Copper',
 'CHN50',
 'EUSTX50',
 'VOLX',
 'USDOLLAR',
 'US2000',
 'INDIA50',
 'USOil',
 'UKOil',
 'SOYF',
 'NGAS',
 'USOilSpot',
 'UKOilSpot',
 'WHEATF',
 'CORNF',
 'Bund',
 'XAU/USD',
 'XAG/USD',
 'EMBasket',
 'JPYBasket',
 'BTC/USD',
 'BCH/USD',
 'ETH/USD',
 'LTC/USD',
 'CryptoMajor',
 'EOS/USD',
 'XLM/USD',
 'ESPORTS',
 'BIOTECH',
 'CANNABIS',
 'FAANG',
 'CHN.TECH',
 'CHN.ECOMM',
 'USEquities',
 'AIRLINES',
 'CASINOS',
 'TRAVEL',
 'US.ECOMM',
 'US.BANKS',
 'US.AUTO',
 'WFH',
 'ATMX',
 'BA.us',
 'BAC.us',
 'BRKB.us',
 'C.us',
 'CRM.us',
 'DIS.us',
 'F.us',
 'JPM.us',
 'KO.us',
 'MA.us',
 'MCD.us',
 'PFE.us',
 'PG.us',
 'SE.us',
 'T.us',
 '',
 'V.us',
 'XOM.us',
 'AAPL.us',
 'AMZN.us',
 'BIDU.us',
 'FB.us',
 'GOOG.us',
 'INTC.us',
 'MSFT.us',
 'SBUX.us',
 '',
 'AI.fr',
 'ALO.fr',
 'BN.fr',
 'BNP.fr',
 'CA.fr',
 'DG.fr',
 'AIR.fr',
 'ORA.fr',
 'GLE.fr',
 'MC.fr',
 'ML.fr',
 'OR.fr',
 'RNO.fr',
 'SAN.fr',
 'SGO.fr',
 'SU.fr',
 'VIE.fr',
 '',
 'ADS.de',
 'ALV.de',
 'BAS.de',
 'BAYN.de',
 'BMW.de',
 '',
 'DAI.de',
 'DB1.de',
 'DBK.de',
 'DPW.de',
 'DTE.de',
 'EOAN.de',
 'IFX.de',
 'LHA.de',
 'MRK.de',
 'RWE.de',
 'SAP.de',
 'SIE.de',
 'TUI1.de',
 'VOW.de',
 '',
 'AZN.uk',
 '',
 'BARC.uk',
 'BATS.uk',
 'BP.uk',
 'GSK.uk',
 'HSBA.uk',
 '',
 '',
 '',
 '',
 '',
 '',
 'TSCO.uk',
 '',
 'BABA.us',
 'DAL.us',
 'NFLX.us',
 'TSLA.us',
 'GLEN.uk',
 'RDSB.uk',
 'TTE.fr',
 'ENGI.fr',
 'VNA.de',
 'SQ.us',
 'LYFT.us',
 'UAL.us',
 'DKNG.us',
 'SHOP.us',
 'BYND.us',
 'UBER.us',
 'ZM.us',
 'LCID.us',
 'HOOD.us',
 'CRWD.us',
 'BOWX.us',
 'BEKE.us',
 'CPNG.us',
 'NET.us',
 'RBLX.us',
 'ENR.de',
 'BIDU.hk',
 'COIN.us',
 'CSL.au',
 'CBA.au',
 'BHP.au',
 'WBC.au',
 'NAB.au',
 'ANZ.au',
 'WOW.au',
 'WES.au',
 'FMG.au',
 'MQG.au',
 'TLS.au',
 'RIO.au',
 'GMG.au',
 'WPL.au',
 'NCM.au',
 'COL.au',
 'ALL.au',
 'SYD.au',
 'A2M.au',
 'REA.au',
 'XRO.au',
 'APT.au',
 'CWN.au',
 'QAN.au',
 'Z1P.au',
 '',
 '',
 '',
 '',
 '',
 '',
 'CBK.de',
 'DHER.de',
 'STM.fr',
 'STLA.fr',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'JD.us',
 'PDD.us',
 'TME.us',
 'WB.us',
 'BILI.us',
 'NVDA.us',
 'AMD.us',
 'DADA.us',
 'PTON.us',
 'TENC.hk',
 'MEIT.hk',
 'BYDC.hk',
 'XIAO.hk',
 'BABA.hk',
 'AIA.hk',
 'HSBC.hk',
 'WUXI.hk',
 'HKEX.hk',
 'GELY.hk',
 'JD.hk',
 'NETE.hk',
 'PING.hk',
 'SMIC.hk',
 'SBIO.hk',
 'GALA.hk',
 'KIDE.hk',
 'ALIH.hk',
 'ICBC.hk',
 'FLAT.hk',
 'KSOF.hk',
 'SMOO.hk',
 'SUNN.hk',
 'BYDE.hk',
 'TWTR.us',
 'MRNA.us',
 'NIO.us',
 'CCL.us',
 'ABNB.us',
 'DASH.us',
 'AMC.us',
 'BNGO.us',
 'FCEL.us',
 'GME.us',
 'PENN.us',
 'PLTR.us',
 'PLUG.us',
 'PYPL.us',
 'SNAP.us',
 'SNOW.us',
 'SPCE.us',
 'XPEV.us',
 '']

In [7]:
len(instr)

296

There are a total of 272 instruments at fxcm for trading.

In [8]:
#to close the connection
api.close()

## Getting Historical Data (Part 1)

To write our own algorithms and automate the process of trading , historical data is very important.

In [9]:
# importing Libraries
import pandas as pd
import fxcmpy

In [10]:
#to start a connection
api = fxcmpy.fxcmpy(config_file= "fxcm.cfg")

In [11]:
#parameters of get_candles method
help(api.get_candles)

Help on method get_candles in module fxcmpy.fxcmpy:

get_candles(instrument='', offer_id=None, period='H1', number=10, start=None, end=None, with_index=True, columns=[], stop=None) method of fxcmpy.fxcmpy.fxcmpy instance
    Return historical data from the fxcm database as pandas.DataFrame.

    Arguments:

    instrument: string (default ''):
        the instrument for which data is requested. For a list of all
        available instruments for historical data, use
        get_instruments_for_candles().
        If the value is equal to '' (default), offer_id must have a value.
        If both, instrument and offer_id are given, the value of instrument
        is used.

    offer_id: integer (default None):
        the id of the instrument for which data is requested as given in the
        offer trading table as given by get_offers(). If offer_id is equal
        to None (default), the parameter instrument must have a value.
        If both, instrument and offer_id are given, the value of instrument
        is used.

    period: string,
        the granularity of the data. Must be one of
        'm1', 'm5', 'm15', 'm30', 'H1', 'H2', 'H3', 'H4', 'H6', 'H8',
        'D1', 'W1', or 'M1'.

    number: integer (default 10),
        the number of candles to receive.

    start: datetime.datetime, datetime.date or string (defaut None),
        the first date to receive data for.

    end: datetime.datetime, datetime.date or string (default None),
        the last date to receive data for.

    with_index: boolean (default True),
        whether the column 'date' should server as index in the resulting
        pandas.DataFrame.

    columns: list (default list()),
        a list of column labels the result should include. If empty, all
        columns are returned.

        Available column labels are

        'date', 'bidopen', 'bidclose', 'bidhigh', 'bidlow',
        'askopen', 'askclose', 'askhigh', 'asklow', 'tickqty'.

        Also available is 'asks' as shortcut for all ask related columns
        and 'bids' for all bid related columns, respectively.

        The column 'date' is always included.

    Returns:

    A pandas DataFrame containing the requested data.

In [12]:
#getting candles of EUR/USD
api.get_candles('EUR/USD')
#default gives us latest 10 candles

,bidopen,bidclose,bidhigh,bidlow,askopen,askclose,askhigh,asklow,tickqty
date,,,,,,,,,
2021-09-17 11:00:00,1.17821,1.17877,1.17879,1.17750,1.17833,1.17890,1.17891,1.17763,7917
2021-09-17 12:00:00,1.17877,1.17732,1.17883,1.17720,1.17890,1.17743,1.17895,1.17731,11184
2021-09-17 13:00:00,1.17732,1.17532,1.17744,1.17500,1.17743,1.17545,1.17755,1.17512,16087
2021-09-17 14:00:00,1.17532,1.17372,1.17566,1.17336,1.17545,1.17383,1.17578,1.17348,19301
2021-09-17 15:00:00,1.17372,1.17329,1.17399,1.17280,1.17383,1.17341,1.17412,1.17294,12837
2021-09-17 16:00:00,1.17329,1.17250,1.17361,1.17241,1.17341,1.17261,1.17373,1.17254,5711
2021-09-17 17:00:00,1.17250,1.17264,1.17314,1.17240,1.17261,1.17277,1.17327,1.17251,4402
2021-09-17 18:00:00,1.17264,1.17285,1.17295,1.17248,1.17277,1.17298,1.17307,1.17261,4408
2021-09-17 19:00:00,1.17285,1.17299,1.17316,1.17285,1.17298,1.17313,1.17329,1.17297,3534
2021-09-17 20:00:00,1.17299,1.17243,1.17305,1.17239,1.17313,1.17262,1.17319,1.17256,4223

In [13]:
#getting latest 10,000 candles
api.get_candles('EUR/USD', number = 10000)

,bidopen,bidclose,bidhigh,bidlow,askopen,askclose,askhigh,asklow,tickqty
date,,,,,,,,,
2020-02-20 08:00:00,1.07900,1.07964,1.07975,1.07843,1.07911,1.07975,1.07987,1.07853,8486
2020-02-20 09:00:00,1.07964,1.07992,1.08056,1.07935,1.07975,1.08004,1.08067,1.07947,8963
2020-02-20 10:00:00,1.07992,1.07918,1.08012,1.07897,1.08004,1.07930,1.08023,1.07909,7980
2020-02-20 11:00:00,1.07918,1.07959,1.07970,1.07869,1.07930,1.07970,1.07982,1.07880,8744
2020-02-20 12:00:00,1.07959,1.07876,1.07968,1.07853,1.07970,1.07888,1.07979,1.07863,8048
...,...,...,...,...,...,...,...,...,...
2021-09-17 16:00:00,1.17329,1.17250,1.17361,1.17241,1.17341,1.17261,1.17373,1.17254,5711
2021-09-17 17:00:00,1.17250,1.17264,1.17314,1.17240,1.17261,1.17277,1.17327,1.17251,4402
2021-09-17 18:00:00,1.17264,1.17285,1.17295,1.17248,1.17277,1.17298,1.17307,1.17261,4408
2021-09-17 19:00:00,1.17285,1.17299,1.17316,1.17285,1.17298,1.17313,1.17329,1.17297,3534
2021-09-17 20:00:00,1.17299,1.17243,1.17305,1.17239,1.17313,1.17262,1.17319,1.17256,4223

In [14]:
df = api.get_candles('EUR/USD', number = 10000)
df

,bidopen,bidclose,bidhigh,bidlow,askopen,askclose,askhigh,asklow,tickqty
date,,,,,,,,,
2020-02-20 08:00:00,1.07900,1.07964,1.07975,1.07843,1.07911,1.07975,1.07987,1.07853,8486
2020-02-20 09:00:00,1.07964,1.07992,1.08056,1.07935,1.07975,1.08004,1.08067,1.07947,8963
2020-02-20 10:00:00,1.07992,1.07918,1.08012,1.07897,1.08004,1.07930,1.08023,1.07909,7980
2020-02-20 11:00:00,1.07918,1.07959,1.07970,1.07869,1.07930,1.07970,1.07982,1.07880,8744
2020-02-20 12:00:00,1.07959,1.07876,1.07968,1.07853,1.07970,1.07888,1.07979,1.07863,8048
...,...,...,...,...,...,...,...,...,...
2021-09-17 16:00:00,1.17329,1.17250,1.17361,1.17241,1.17341,1.17261,1.17373,1.17254,5711
2021-09-17 17:00:00,1.17250,1.17264,1.17314,1.17240,1.17261,1.17277,1.17327,1.17251,4402
2021-09-17 18:00:00,1.17264,1.17285,1.17295,1.17248,1.17277,1.17298,1.17307,1.17261,4408
2021-09-17 19:00:00,1.17285,1.17299,1.17316,1.17285,1.17298,1.17313,1.17329,1.17297,3534
2021-09-17 20:00:00,1.17299,1.17243,1.17305,1.17239,1.17313,1.17262,1.17319,1.17256,4223

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 10000 entries, 2020-02-20 08:00:00 to 2021-09-17 20:00:00
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   bidopen   10000 non-null  float64
 1   bidclose  10000 non-null  float64
 2   bidhigh   10000 non-null  float64
 3   bidlow    10000 non-null  float64
 4   askopen   10000 non-null  float64
 5   askclose  10000 non-null  float64
 6   askhigh   10000 non-null  float64
 7   asklow    10000 non-null  float64
 8   tickqty   10000 non-null  int64
dtypes: float64(8), int64(1)
memory usage: 781.2 KB

In [16]:
#we can also select particular columns for better visualisation of data.
api.get_candles('EUR/USD', number = 5, columns = ["bids"])

                     bidopen  bidclose  bidhigh   bidlow
date
2021-09-17 16:00:00  1.17329   1.17250  1.17361  1.17241
2021-09-17 17:00:00  1.17250   1.17264  1.17314  1.17240
2021-09-17 18:00:00  1.17264   1.17285  1.17295  1.17248
2021-09-17 19:00:00  1.17285   1.17299  1.17316  1.17285
2021-09-17 20:00:00  1.17299   1.17243  1.17305  1.17239

In [17]:
api.get_candles('EUR/USD', number = 5, columns = ["asks"])

                     askopen  askclose  askhigh   asklow
date
2021-09-17 16:00:00  1.17341   1.17261  1.17373  1.17254
2021-09-17 17:00:00  1.17261   1.17277  1.17327  1.17251
2021-09-17 18:00:00  1.17277   1.17298  1.17307  1.17261
2021-09-17 19:00:00  1.17298   1.17313  1.17329  1.17297
2021-09-17 20:00:00  1.17313   1.17262  1.17319  1.17256

In [18]:
#getting candles for some more instruments. 
# Nifty50
api.get_candles('INDIA50')

,bidopen,bidclose,bidhigh,bidlow,askopen,askclose,askhigh,asklow,tickqty
date,,,,,,,,,
2021-09-17 11:00:00,17553.1,17555.1,17568.6,17545.1,17559.6,17557.1,17573.1,17547.6,1614
2021-09-17 12:00:00,17555.1,17576.6,17583.6,17552.6,17556.6,17579.1,17585.1,17554.1,2098
2021-09-17 13:00:00,17575.6,17532.6,17584.6,17520.6,17577.6,17537.1,17586.6,17522.6,3520
2021-09-17 14:00:00,17532.6,17497.1,17538.6,17482.1,17537.6,17499.6,17540.1,17483.1,7251
2021-09-17 15:00:00,17496.1,17498.1,17508.6,17475.6,17499.6,17501.1,17510.6,17477.1,6303
2021-09-17 16:00:00,17498.1,17525.1,17532.6,17495.1,17501.6,17526.6,17534.1,17497.1,3013
2021-09-17 17:00:00,17525.6,17490.6,17525.6,17478.1,17526.6,17494.1,17527.1,17480.1,2552
2021-09-17 18:00:00,17490.1,17510.1,17512.6,17485.6,17494.6,17512.6,17515.1,17489.1,1829
2021-09-17 19:00:00,17510.6,17484.1,17515.6,17484.1,17512.6,17489.6,17517.1,17489.6,1612
2021-09-17 20:00:00,17480.6,17470.6,17485.1,17467.1,17489.6,17478.1,17489.6,17471.6,358

## Getting Historical Data (Part 2)

In [19]:
api.get_candles('EUR/USD', number = 10000, columns = ["asks"])

                     askopen  askclose  askhigh   asklow
date
2020-02-20 08:00:00  1.07911   1.07975  1.07987  1.07853
2020-02-20 09:00:00  1.07975   1.08004  1.08067  1.07947
2020-02-20 10:00:00  1.08004   1.07930  1.08023  1.07909
2020-02-20 11:00:00  1.07930   1.07970  1.07982  1.07880
2020-02-20 12:00:00  1.07970   1.07888  1.07979  1.07863
...                      ...       ...      ...      ...
2021-09-17 16:00:00  1.17341   1.17261  1.17373  1.17254
2021-09-17 17:00:00  1.17261   1.17277  1.17327  1.17251
2021-09-17 18:00:00  1.17277   1.17298  1.17307  1.17261
2021-09-17 19:00:00  1.17298   1.17313  1.17329  1.17297
2021-09-17 20:00:00  1.17313   1.17262  1.17319  1.17256

[10000 rows x 4 columns]

In [20]:
# we can also specify start and end date , to get past data
api.get_candles('EUR/USD', start = "2020-07-01", end = "2020-07-31", columns = ["asks"])

                     askopen  askclose  askhigh   asklow
date
2020-07-01 00:00:00  1.12341   1.12313  1.12342  1.12282
2020-07-01 01:00:00  1.12313   1.12394  1.12402  1.12296
2020-07-01 02:00:00  1.12394   1.12386  1.12414  1.12370
2020-07-01 03:00:00  1.12386   1.12271  1.12395  1.12228
2020-07-01 04:00:00  1.12271   1.12188  1.12279  1.12157
...                      ...       ...      ...      ...
2020-07-30 20:00:00  1.18452   1.18479  1.18489  1.18437
2020-07-30 21:00:00  1.18479   1.18425  1.18483  1.18379
2020-07-30 22:00:00  1.18425   1.18488  1.18493  1.18409
2020-07-30 23:00:00  1.18488   1.18728  1.18772  1.18437
2020-07-31 00:00:00  1.18728   1.18668  1.18894  1.18625

[538 rows x 4 columns]

In [21]:
# we can also specify the length of each candle , default is 1 hour (H1).
api.get_candles('EUR/USD', start = "2020-07-01", end = "2020-07-31", 
                period = "H1", columns = ["asks"])

                     askopen  askclose  askhigh   asklow
date
2020-07-01 00:00:00  1.12341   1.12313  1.12342  1.12282
2020-07-01 01:00:00  1.12313   1.12394  1.12402  1.12296
2020-07-01 02:00:00  1.12394   1.12386  1.12414  1.12370
2020-07-01 03:00:00  1.12386   1.12271  1.12395  1.12228
2020-07-01 04:00:00  1.12271   1.12188  1.12279  1.12157
...                      ...       ...      ...      ...
2020-07-30 20:00:00  1.18452   1.18479  1.18489  1.18437
2020-07-30 21:00:00  1.18479   1.18425  1.18483  1.18379
2020-07-30 22:00:00  1.18425   1.18488  1.18493  1.18409
2020-07-30 23:00:00  1.18488   1.18728  1.18772  1.18437
2020-07-31 00:00:00  1.18728   1.18668  1.18894  1.18625

[538 rows x 4 columns]

In [22]:
#D1 --> 1 Day
api.get_candles('EUR/USD', start = "2020-07-01", end = "2020-07-31", 
                period = "D1", columns = ["asks"])

                     askopen  askclose  askhigh   asklow
date
2020-07-02 21:00:00  1.12522   1.12404  1.13032  1.12239
2020-07-03 21:00:00  1.12404   1.12498  1.12544  1.12197
2020-07-05 21:00:00  1.12498   1.12478  1.12514  1.12462
2020-07-06 21:00:00  1.12478   1.13100  1.13461  1.12478
2020-07-07 21:00:00  1.13100   1.12748  1.13331  1.12594
2020-07-08 21:00:00  1.12748   1.13309  1.13522  1.12629
2020-07-09 21:00:00  1.13309   1.12856  1.13713  1.12808
2020-07-10 21:00:00  1.12856   1.13020  1.13254  1.12553
2020-07-12 21:00:00  1.13020   1.13079  1.13120  1.13025
2020-07-13 21:00:00  1.13079   1.13451  1.13755  1.13015
2020-07-14 21:00:00  1.13451   1.14003  1.14093  1.13258
2020-07-15 21:00:00  1.14003   1.14124  1.14527  1.13916
2020-07-16 21:00:00  1.14124   1.13843  1.14423  1.13711
2020-07-17 21:00:00  1.13843   1.14299  1.14442  1.13782
2020-07-19 21:00:00  1.14299   1.14200  1.14327  1.14037
2020-07-20 21:00:00  1.14200   1.14483  1.14683  1.14029
2020-07-21 21:00:00  1.14483   1.15276  1.15403  1.14236
2020-07-22 21:00:00  1.15276   1.15704  1.16021  1.15074
2020-07-23 21:00:00  1.15704   1.15968  1.16275  1.15409
2020-07-24 21:00:00  1.15968   1.16589  1.16591  1.15818
2020-07-26 21:00:00  1.16589   1.16456  1.16587  1.16405
2020-07-27 21:00:00  1.16456   1.17523  1.17819  1.16429
2020-07-28 21:00:00  1.17523   1.17168  1.17744  1.16993
2020-07-29 21:00:00  1.17168   1.17923  1.18069  1.17147
2020-07-30 21:00:00  1.17923   1.18479  1.18489  1.17314
2020-07-31 21:00:00  1.18479   1.17829  1.19093  1.17618

In [23]:
# m1 --> 1 minutes.
api.get_candles('EUR/USD', start = "2020-07-01", end = "2020-07-10", 
                period = "m1", columns = ["asks"])

                     askopen  askclose  askhigh   asklow
date
2020-07-01 00:00:00  1.12341   1.12331  1.12342  1.12330
2020-07-01 00:01:00  1.12331   1.12317  1.12332  1.12315
2020-07-01 00:02:00  1.12317   1.12310  1.12317  1.12308
2020-07-01 00:03:00  1.12310   1.12301  1.12312  1.12291
2020-07-01 00:04:00  1.12301   1.12299  1.12302  1.12293
...                      ...       ...      ...      ...
2020-07-09 23:56:00  1.12899   1.12891  1.12899  1.12890
2020-07-09 23:57:00  1.12891   1.12891  1.12891  1.12890
2020-07-09 23:58:00  1.12891   1.12884  1.12891  1.12883
2020-07-09 23:59:00  1.12884   1.12887  1.12887  1.12881
2020-07-10 00:00:00  1.12887   1.12864  1.12895  1.12863

[10022 rows x 4 columns]

In [24]:
#Example
api.get_candles("INDIA50" ,  start = "2020-10-01", end = "2020-11-10")

,bidopen,bidclose,bidhigh,bidlow,askopen,askclose,askhigh,asklow,tickqty
date,,,,,,,,,
2020-11-09 04:00:00,12448.5,12432.5,12457.5,12423.0,12449.5,12433.0,12458.0,12423.5,6061
2020-11-09 05:00:00,12431.5,12411.5,12447.0,12395.0,12433.0,12413.0,12447.5,12395.0,7817
2020-11-09 06:00:00,12411.5,12403.5,12421.0,12383.5,12413.0,12404.5,12421.5,12385.0,6510
2020-11-09 07:00:00,12404.5,12427.5,12429.0,12387.5,12404.5,12428.0,12430.5,12388.5,6595
2020-11-09 08:00:00,12427.5,12438.5,12454.0,12422.0,12427.5,12439.5,12455.0,12422.5,6770
2020-11-09 09:00:00,12439.0,12485.0,12485.5,12439.0,12439.5,12485.5,12486.0,12439.5,6146
2020-11-09 10:00:00,12485.5,12493.5,12497.0,12471.5,12485.5,12494.5,12499.0,12483.0,700
2020-11-09 11:00:00,12493.0,12601.5,12654.5,12475.5,12494.0,12605.5,12660.0,12476.5,2514
2020-11-09 12:00:00,12602.0,12766.5,12779.5,12562.5,12606.5,12768.5,12781.0,12567.5,7082
2020-11-09 13:00:00,12768.0,12755.5,12788.0,12739.5,12768.5,12757.0,12789.0,12740.5,3859
2020-11-09 14:00:00,12755.5,12680.5,12819.5,12678.0,12757.5,12682.0,12821.0,12679.0,5173
2020-11-09 15:00:00,12680.5,12702.5,12739.5,12676.5,12682.0,12703.5,12741.0,12677.5,6009
2020-11-09 16:00:00,12702.5,12726.5,12734.0,12683.5,12702.5,12728.0,12735.5,12685.0,4539
2020-11-09 17:00:00,12726.5,12777.0,12785.5,12726.5,12728.0,12778.0,12787.5,12728.0,3278
2020-11-09 18:00:00,12778.0,12756.0,12784.0,12742.0,12779.0,12757.5,12785.0,12743.0,2032
2020-11-09 19:00:00,12756.0,12756.5,12766.0,12729.5,12757.5,12757.0,12768.0,12730.5,2263
2020-11-09 20:00:00,12756.5,12678.5,12761.5,12674.0,12757.0,12681.5,12763.0,12674.5,2881
2020-11-09 21:00:00,12676.5,12679.0,12683.0,12673.0,12681.0,12688.0,12688.5,12677.0,267
2020-11-09 22:00:00,12673.0,12673.0,12673.0,12673.0,12689.0,12689.0,12689.0,12689.0,2

In [25]:
api.close()

## Streaming high-frequency real-time Data

To forward test our trading Algorithms , real-time data is must.

In [26]:
# importing Libraries
import pandas as pd
import fxcmpy

In [27]:
# establishing a connection
api = fxcmpy.fxcmpy(config_file= "fxcm.cfg")

In [28]:
#subscribing EUR/USD
api.subscribe_market_data("EUR/USD")

In [29]:
# All subscribed instruments
api.get_subscribed_symbols()

['EUR/USD']

In [30]:
api.get_last_price("EUR/USD")

Bid     1.17243
Ask     1.17262
High    1.17895
Low     1.17239
Name: 2021-09-17 20:59:00.853000, dtype: float64

In [31]:
api.get_prices("EUR/USD")

                             Bid      Ask     High      Low
2021-09-17 20:59:00.853  1.17243  1.17262  1.17895  1.17239

In [32]:
import time

In [33]:
while True:
    time.sleep(1)
    print(api.get_last_price("EUR/USD").name, api.get_last_price("EUR/USD").Bid,
          api.get_last_price("EUR/USD").Ask, sep = "|")

2021-09-17 20:59:00.853000|1.17243|1.17262
2021-09-17 20:59:00.853000|1.17243|1.17262
2021-09-17 20:59:00.853000|1.17243|1.17262
2021-09-17 20:59:00.853000|1.17243|1.17262
2021-09-17 20:59:00.853000|1.17243|1.17262
2021-09-17 20:59:00.853000|1.17243|1.17262
2021-09-17 20:59:00.853000|1.17243|1.17262
2021-09-17 20:59:00.853000|1.17243|1.17262
2021-09-17 20:59:00.853000|1.17243|1.17262
2021-09-17 20:59:00.853000|1.17243|1.17262
2021-09-17 20:59:00.853000|1.17243|1.17262
2021-09-17 20:59:00.853000|1.17243|1.17262
2021-09-17 20:59:00.853000|1.17243|1.17262
2021-09-17 20:59:00.853000|1.17243|1.17262
2021-09-17 20:59:00.853000|1.17243|1.17262
2021-09-17 20:59:00.853000|1.17243|1.17262
2021-09-17 20:59:00.853000|1.17243|1.17262

KeyboardInterrupt:

In [34]:
api.unsubscribe_market_data("EUR/USD")

In [35]:
def print_data(data, dataframe):
    print('%3d | %s | %s, %s, %s'
          % (len(dataframe), data['Symbol'],
             pd.to_datetime(int(data['Updated']), unit='ms'),
             data['Rates'][0], data['Rates'][1]))

In [36]:
api.subscribe_market_data("EUR/USD", (print_data,))

In [37]:
api.unsubscribe_market_data("EUR/USD")

In [38]:
api.close()

## Creating Orders and Executing Trades

In [39]:
import pandas as pd
import fxcmpy

In [40]:
api = fxcmpy.fxcmpy(config_file= "fxcm.cfg")

In [41]:
api.get_open_positions()

Empty DataFrame
Columns: []
Index: []

In [42]:
api.create_market_buy_order("EUR/USD", 100)

In [43]:
api.get_open_positions()

,t,ratePrecision,tradeId,accountName,accountId,roll,com,open,valueDate,grossPL,...,usedMargin,orderId,OpenOrderRequestTXT,OpenOrderReqID,TradeIDOrigin,child_trailingStop,child_trailing,stop,stopMove,limit
0,1,5,71292978,1001682745,1682745,0,0,1.17262,,-19,...,325,132196765,None,Request-267838,None,none,-1,0,0,0

In [44]:
col = ["tradeId", "amountK", "currency", "grossPL", "isBuy"]

In [45]:
api.get_open_positions()[col]

    tradeId  amountK currency  grossPL  isBuy
0  71292978      100  EUR/USD      -19   True

In [46]:
api.create_market_sell_order("EUR/USD", 100)

In [47]:
api.get_open_positions()[col]

    tradeId  amountK currency  grossPL  isBuy
0  71292978      100  EUR/USD      -19   True
1  71292979      100  EUR/USD      -19  False

In [48]:
api.close_all_for_symbol("EUR/USD")